# Pandas Tutorial
- Data Frames
- Data Series

In [1]:
# First step is to import pandas
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['Column1','Column2','Column3','Column4'])
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [4]:
df.to_csv('Test1.csv') #CSV=comma seperated values

In [10]:
#Accessing the elements

#.loc for row accessing
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [11]:
type(df.loc['Row1'])

pandas.core.series.Series

In [9]:
#.iloc for row accessing
df.iloc[0:3,0:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [12]:
#convert Data Frames into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [14]:
#check the null value in the data frame
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [15]:
df['Column1'].value_counts()

Column1
0     1
4     1
8     1
12    1
16    1
Name: count, dtype: int64

In [16]:
df['Column2'].unique()

array([ 1,  5,  9, 13, 17])

In [17]:
df['Column2'].nunique()

5

In [18]:
df[['Column1','Column2']]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9
Row4       12       13
Row5       16       17