# Pandas, Reading CSV file with various parameters

In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("chess.csv")
df.head()

    Piece Value  Color Position
0    Pawn     1  White       a2
1    Pawn     1  Black       a7
2  Knight     3  White       b1
3  Knight     3  Black       b8
4  Bishop     3  White       c1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Piece     12 non-null     object
 1   Value     12 non-null     object
 2   Color     12 non-null     object
 3   Position  12 non-null     object
dtypes: object(4)
memory usage: 516.0+ bytes

In [11]:
df.describe()

       Piece Value  Color Position
count     12    12     12       12
unique     6     5      2       12
top     Pawn     3  White       a2
freq       2     4      6        1

In [12]:
df['Piece'].value_counts()

Piece
Pawn      2
Knight    2
Bishop    2
Rook      2
Queen     2
King      2
Name: count, dtype: int64

In [18]:
from io import StringIO, BytesIO

data=('c1,c2,c3\n'
      '1,2,3\n'
      '4,5,6')

In [16]:
type(data)

str

In [21]:
#read from specific columns
pd.read_csv(StringIO(data),usecols=['c1','c2'])

   c1  c2
0   1   2
1   4   5

In [29]:
df=pd.read_csv(StringIO(data), dtype={'c1':int,'c2':float, 'c3':'Int64'})
df

   c1   c2  c3
0   1  2.0   3
1   4  5.0   6

In [30]:
df['c1']

0    1
1    4
Name: c1, dtype: int32

In [31]:
#check data types
df.dtypes

c1      int32
c2    float64
c3      Int64
dtype: object